body {
  /* margin: 0; */
  font-family: Arial, Helvetica, sans-serif;

}

#name{
    color: orangered;
}
.homepage{
    height: 600px;
    width: 100%;
    background-image: url(images/cows.jpg); 
    /* filter: blur(2px);
   -webkit-filter: blur(2px); */

  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
    background-position: center; 
  background-repeat: no-repeat;
   background-size: cover;  
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 10px;
    /* display: flex;
    justify-content: end; */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  


/* The box-sizing property defines how the width and height of an element are calculated:
 should they include padding and borders, or not.
box-sizing property to make sure that the box doesn't break due to extra padding */
*{
  box-sizing: border-box;
}
.box{
  width: 33.33%;
  float: left;
  text-align: center;
  
}
.about{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #333;
      
}


.cows{
    height: 280px;
    /* width: 300px; */ 
  
    border-radius: 3px;
}
.hens{
    height: 280px;
    width: 455px; 
  
    border-radius: 3px;
}

.rabbits{
     height: 280px;
     width: 420px; 
     border-radius: 3px;
     margin-left: 20px;
     
   
}
.livestock{
  text-align: center;
  color: #1c00b5;

}
#services{
  text-align: center;

}
.milk_can_image{
  float: left;
  /* max-width: 40%; */
  border-radius: 3px;
  margin-right: 10px;
  height: 250px;
  width: 280px;
}
.manure{
clear: left;
overflow: auto;
  
}
#manurejpg{
  height: 250px;
  width: 280px; 
  border-radius: 3px;
  float: left;
  margin-right: 15px;
 
  border: black;


}
#eggs{
  clear: left;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  
}
.eggs_image{
  float: left;
  margin-right: 15px;
  border-radius: 3px;

}
ul{
  font-size: x-large;
}
#meat{
  clear: left;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
}
.meatjpg{
  float: left;
  margin-right: 15px;
  border-radius: 3px;
}
#contact{
  clear: left;
  background-color: #55ffe5;
 
  
}
.container{
  width: 80% ;
  margin: 50px auto;
}
.contact_box{
  background-color: #fff;
  display: flex;
}
@media screen  and (max-width: 600px) {
.input_column{flex-wrap: wrap;} 

  
  
}
.contact_box_left{
  flex-basis: 60%;
  padding: 40px 60px;

}
.contact_box_right{
  flex-basis: 40%;
  padding: 40px 60px;
  background: #1c00b5;
  color: #fff;
}
#contact_start{

  margin-bottom: 10px;
}
.input_column{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input_column.input_details{
flex-basis: 45%;
}
input{
  width: 100%;
  outline: none;
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px  solid #ccc;
}
label{
  color: #1c00b5;
}
#subject{
  
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  
}
.submit{
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit:hover{
  background-color: #45a049;
}